*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/desert-background.jpg);
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: center;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(54, 87, 235);
    display: block;
    margin: auto;
    transition: 0.2s;
  }
.nav-links ul li:hover::after{ width: 100%;}

.nav-links {
    display: flex;
    padding: 2% 6%;
    justify-content: space-evenly;
    align-items: center;
  }

.title{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.title h1 {font-size: 50px;}
.title p {font-size: 20px;}

.facts {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    color: black;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.fact-col {
    flex-basis: 31%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;}

.fact-col img{
    width: 100%;
    border-radius: 10px;}

.fact-col p{
    padding: 10px;

}
.fact {
    text-align: center;
    font-weight: 600;
    margin: 15px 0;}

.fact-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);}

@media(max-width: 700px){
    .row{flex-flow: column;
    }
    .header{
        flex-flow:column;
    }
}

